<html>
	<head>
		<title>Example</title>
	</head>

	<body >
		<h1>Bonjour ${model.models.get(0)}</h1>
		<p>Votre Compte Cree, maintenant vous pouvez suivre et participer a des formation </p>
		<p>JFormation | SQLi | Echallenge</p>
	</body>
</html>