<html>
	<head>
		<title>Example</title>
	</head>

	<body >
		<h1>Bonjour ${model.models.get(0)}</h1>
		<p>Votre Nouveau Mot de passe est : ${model.models.get(1)}</p>
		<p>JFormation | SQLi | Echallenge</p>
	</body>
</html>