<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		
	<!-- Util.PropretiesHelper -->
	<bean id="proprties_helper_util" class="com.sqli.echallenge.jformation.util.PropretiesHelper"></bean>
	<!-- Util.SqliRandomGenerator -->
	<bean id="sqlirandomgenrator_util" class="com.sqli.echallenge.jformation.util.SqliRandomGenerator"></bean>
	<!-- Util.ActionHelper -->
	<bean id="action_helper_util" class="com.sqli.echallenge.jformation.util.ActionHelper"></bean>
	<!-- Util.SqliMailThread -->
	<bean id="mail_thread" class="com.sqli.echallenge.jformation.util.SqliMailThread" scope="prototype"></bean>
		
	<!-- Utilisateur -->	
	<bean id="utilisateur_dao" class="com.sqli.echallenge.jformation.dao.UtilisateurDaoImpl"></bean>	
	<bean id="utilisateur_metier" class="com.sqli.echallenge.jformation.metier.UtilisateurMetierImpl">
		<property name="dao" ref="utilisateur_dao"></property>
	</bean>
		
	<!-- Profil -->	
	<bean id="profil_dao" class="com.sqli.echallenge.jformation.dao.ProfilDaoImpl"></bean>	
	<bean id="profil_metier" class="com.sqli.echallenge.jformation.metier.ProfilMetierImpl">
		<property name="dao" ref="profil_dao"></property>
	</bean>
	
	<!-- Habilitation -->	
	<bean id="habilitation_dao" class="com.sqli.echallenge.jformation.dao.HabilitationDaoImpl"></bean>	
	<bean id="habilitation_metier" class="com.sqli.echallenge.jformation.metier.HablilitationMetierImpl">
		<property name="dao" ref="habilitation_dao"></property>
	</bean>
	
	<!-- Collaborateur -->	
	<bean id="collaborateur_dao" class="com.sqli.echallenge.jformation.dao.CollaborateurDaoImpl"></bean>	
	<bean id="collaborateur_metier" class="com.sqli.echallenge.jformation.metier.CollaborateurMetierImpl">
		<property name="dao" ref="collaborateur_dao"></property>
	</bean>
	
	<!-- Formation -->	
	<bean id="formation_dao" class="com.sqli.echallenge.jformation.dao.FormationDaoImpl"></bean>	
	<bean id="formation_metier" class="com.sqli.echallenge.jformation.metier.FormationMetierImpl">
		<property name="dao" ref="formation_dao"></property>
	</bean>
	
	<!-- SessionFormation -->	
	<bean id="session_dao" class="com.sqli.echallenge.jformation.dao.SessionFormationDaoImpl"></bean>	
	<bean id="session_metier" class="com.sqli.echallenge.jformation.metier.SessionFormationMetierImpl">
		<property name="dao" ref="session_dao"></property>
	</bean>
	
	<!-- Seance -->	
	<bean id="seance_dao" class="com.sqli.echallenge.jformation.dao.SeanceDaoImpl"></bean>	
	<bean id="seance_metier" class="com.sqli.echallenge.jformation.metier.SeanceMetierImpl">
		<property name="dao" ref="seance_dao"></property>
	</bean>
</beans>
